<div class="mdl-grid content">

    <div class="mdl-cell mdl-cell--8-col mdl-card mdl-shadow--4dp">
        <div class="center">
            <div class="mdl-card__actions">
                <div class="mdl-layout-spacer"><h1 id="fileTitle">Base64</h1></div>
            </div>
            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="5" id="InputText" onkeyup="setCharCounter()"></textarea>
                <label id="LabelText" class="mdl-textfield__label" for="InputText">Текст (0)</label>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="5" id="CryptText" onkeyup="setCharCounter()"></textarea>
                <label id="CryptLabel" class="mdl-textfield__label" for="CryptText">Результат (0)</label>
            </div>


            <div class="mdl-card__actions">

                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="ClickBase64(0); return false;">Encode</a>

                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="ClickBase64(1); return false;">Decode</a>

                <div class="mdl-layout-spacer"></div>

                <button class="mdl-button mdl-button--icon mdl-button--colored"
                        onclick="copyToClipboard(); return false;"><i class="material-icons">content_copy</i>
                </button>

                <button class="mdl-button mdl-button--icon mdl-button--colored" style="margin-right: 1%"
                        onclick="ClearFields(); return false;">
                    <i class="material-icons">clear</i>
                </button>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--8-col  mdl-cell--4-col-desktop mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Загрузка файлов</h2>
        </div>

        <div class="container">

            <form class="box" method="post" action="" enctype="multipart/form-data">
                <div class="box__input">
                    <svg class="box__icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                         role="presentation">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"></path>
                    </svg>

                    <input class="box__file" type="file" name="files[]" id="file"
                           data-multiple-caption="Выбрано {count} файл{prefix}" multiple/>

                    <label id="dad_label" for="file"><strong>Выбирете файл</strong><span
                            class="box__dragndrop"> или перетащите его</span></label>

                    <button class="box__button" type="submit">Загрузить</button>
                </div>

                <div id="dad_buttons" class="hidden box_buttons">
                    <button id="box_encode" type="button" class="mdl-chip">
                        <span class="mdl-chip__text">Кодировать</span>
                    </button>
                    <button id="box_decode" type="button" class="mdl-chip">
                        <span class="mdl-chip__text">Декодировать</span>
                    </button>
                    <button id="box_cancel" type="button" class="mdl-chip">
                        <span class="mdl-chip__text">Отмена</span>
                    </button>
                </div>

            </form>

        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col  mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Описание</h2>
        </div>
        <div class="mdl-card__supporting-text no-padding">
            <p>Base64 - это группа аналогичных схем кодирования двоичного текста, которые представляют двоичные данные в
                формате строки ASCII путем перевода их в представление radix-64. Термин Base64 происходит от
                определенной кодировки передачи содержимого MIME.
            </p>
            <p>
                Каждая цифра base64 представляет ровно 6 бит данных. Таким образом, три 8-битных байта (т. е. всего 24
                бита) могут быть представлены четырьмя 6-битными цифрами base64.
            </p>
            <p>
                Определенный набор из 64 символов, выбранных для представления 64 мест-значений для базы, варьируется
                между реализациями. Общая стратегия состоит в том, чтобы выбрать 64 символа, которые являются членами
                подмножества, общего для большинства кодировок, а также для печати. Эта комбинация оставляет данные,
                которые вряд ли будут изменены при передаче через информационные системы, такие как электронная почта,
                которые традиционно не были 8-битными чистыми. Например, реализация Base64 MIME использует A-Z, A-z и
                0-9 для первых 62 значений. Другие варианты разделяют это свойство, но отличаются символами, выбранными
                для последних двух значений; примером является UTF-7.
            </p>
            <p>
                Самые ранние экземпляры этого типа кодирования были созданы для коммутируемой связи между системами,
                работающими под управлением той же ОС — например, uuencode для UNIX, BinHex для TRS-80 (позже
                адаптированный для Macintosh) — и поэтому могли бы сделать больше предположений о том, какие символы
                были безопасны для использования. Например, uuencode использует прописные буквы, цифры и много знаков
                препинания, но не строчные.
            </p>
        </div>
    </div>

</div>