<div class="mdl-grid content my-1">
    <section class=" section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h1 class="mdl-cell mdl-cell--12-col">Цветовая палитра</h1>
                <div class="palette-container"></div>
                <main></main>
            </div>
            <div class="mdl-card__actions-bordered mdl-card__actions-margin">
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <p>Палитра цветов помогает подобрать цвет в виде HEX, RGB, RGBA, HSV и CMYK записи цветовой
                        модели.</p>
                </div>
            </div>
        </div>
    </section>
</div>