<div class="mdl-grid content">

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div style="padding: 1%;">
            <div class="mdl-card__actions">
                <div class="mdl-layout-spacer"><h1>Системы счисления BIN/OCT/DEC/HEX</h1></div>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <input class="mdl-textfield__input" type="text" id="InputText" pattern="-?[0-9]*(\.[0-9]+)?">
                <label class="mdl-textfield__label" for="InputText">Исходное значение</label>
                <span class="mdl-textfield__error">Это не число!</span>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <input class="mdl-textfield__input" type="text" id="sys1" pattern="-?[0-9]*(\.[0-9]+)?">
                <label class="mdl-textfield__label" for="sys1">Начальная система счисления (основание)</label>
                <span class="mdl-textfield__error">Это не число!</span>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <input class="mdl-textfield__input" type="text" id="sys2" pattern="-?[0-9]*(\.[0-9]+)?">
                <label class="mdl-textfield__label" for="sys2">Конечная система счисления (основание)</label>
                <span class="mdl-textfield__error">Это не число!</span>
            </div>


            <div id="hash_answers" class="hashBlock">
                <p>Результат:</p>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="ClickMathSystem(); return false;">Encode</a>
                <div class="mdl-layout-spacer"></div>
            </div>

        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col  mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Описание</h2>
        </div>
        <div class="mdl-card__supporting-text no-padding">
            <p>Системы счисления BIN/OCT/DEC/HEX - с преобразованием чисел из одной системы счисления в другую в
                JavaScript легко справляется функция parseInt(number, from).toString(to). Наиболее используемые системы
                счисления: двоичная, восьмеричная, десятичная и шестнадцатеричная. </p>

        </div>
    </div>

</div>