<div class="mdl-grid content">

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div style="padding: 1%;">
            <div class="mdl-card__actions">
                <div class="mdl-layout-spacer"><h1>Генератор паролей</h1></div>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <input class="mdl-textfield__input" type="number" id="passwordLength" pattern="-?[0-9]*(\.[0-9]+)?" value="22">
                <label class="mdl-textfield__label" for="passwordLength">Длина пароля</label>
                <span class="mdl-textfield__error">Это не число!</span>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <input class="mdl-textfield__input" type="text" id="CryptText" onkeyup="setCharCounter('CryptText','CryptLabel','Пароль')">
                <label class="mdl-textfield__label" for="CryptText" id="CryptLabel">Пароль (0)</label>
            </div>

            <div class="mdl-card__actions">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="clickPasswordGenerate(); return false;">Создать</a>

                <div class="mdl-layout-spacer"></div>


                <button class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                        onclick="copyToClipboard(); return false;"><i class="material-icons">content_copy</i>
                </button>

                <button class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="margin-right: 1%"
                        onclick="ClearFieldsBase(); return false;">
                    <i class="material-icons">clear</i>
                </button>

            </div>


        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Описание</h2>
        </div>
        <div class="mdl-card__supporting-text no-padding">
            <p>Пароль — условное слово или произвольный набор знаков, состоящий из букв, цифр и других символов, и предназначенный для подтверждения личности или полномочий.</p>
            <p>Пароли часто используются для защиты информации от несанкционированного доступа. В большинстве вычислительных систем комбинация «имя пользователя — пароль» используется для удостоверения пользователя.</p>
            <p>Несмотря на происхождение термина, пароль не обязан быть, собственно, словом. Комбинацию, не являющуюся словом, сложнее угадать или подобрать, поэтому такие пароли более предпочтительны.</p>
        </div>
    </div>

</div>