<div class="mdl-grid content">

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="center">

            <div class="mdl-card__actions">
                <div class="mdl-layout-spacer"><h1>Генерация QR кода</h1></div>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="5" id="InputText" onkeyup="setCharCounter()"></textarea>
                <label id="LabelText" class="mdl-textfield__label" for="InputText">Текст (0)</label>
            </div>

            <div id="qrCodeOutput" style="margin: auto"></div>

            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="ClickQR(); return false;">Создать</a>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="margin-right: 1%"
                        onclick="ClearFields(); return false;">
                    <i class="material-icons">clear</i>
                </button>
            </div>

        </div>
    </div>


    <div class="mdl-cell mdl-cell--12-col  mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Описание</h2>
        </div>
        <div class="mdl-card__supporting-text no-padding">
            <p>QR-код (сокращенно от Quick Response Code) является товарным знаком для типа штрих-кода матрицы (или
                двумерного штрих-кода), впервые предназначенного для а втомобильной промышленности в Японии. Штрих-код -
                это машиночитаемая оптическая этикетка, содержащая информацию о товаре, к которому он прикреплен. QR-код
                использует четыре стандартных режима кодирования (числовой, буквенно-цифровой, байт / двоичный и кандзи
                для эффективного хранения данных; также могут использоваться расширения.
            </p>
            <p>Система быстрого реагирования (QR code) стала популярной за пределами автомобильной промышленности
                благодаря своей быстрой читаемости и большей емкости хранения по сравнению со стандартными штрих-кодами
                UPC. Приложения включают отслеживание товара, идентификация товара, учет рабочего времени,
                документооборот, маркетинг.
            </p>
            <p>
                QR-код состоит из черных квадратов, расположенных в квадратной сетке на белом фоне, которые могут быть
                считаны с помощью устройства визуализации, такого как камера, и обрабатываются с помощью исправления
                ошибок Рида–Соломона, пока изображение не может быть соответствующим образом интерпретировано. Затем
                необходимые данные извлекаются из шаблонов, которые присутствуют как в горизонтальном, так и в
                вертикальном компонентах изображения.
            </p>
        </div>
    </div>

</div>