<div class="mdl-grid demo-content">

    <div class="mdl-cell mdl-cell--8-col mdl-card mdl-shadow--4dp">
        <div class="center">
            <div class="mdl-card__actions">
                <div class="mdl-layout-spacer"><h1>RSA</h1></div>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <textarea class="mdl-textfield__input" rows="5" id="InputText"></textarea>
                <label id="LabelText" class="mdl-textfield__label" for="InputText">Текст (0)</label>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <label class="mdl-textfield__label" for="public-key">Открытый ключ (0)</label>
                <textarea class="mdl-textfield__input" rows="10" id="public-key"></textarea>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <label class="mdl-textfield__label" for="private-key">Секретный ключ (0)</label>
                <textarea class="mdl-textfield__input" rows="10" id="private-key"></textarea>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <textarea class="mdl-textfield__input" rows="5" id="CryptText"></textarea>
                <label id="CryptLabel" class="mdl-textfield__label" for="CryptText">Результат (0)</label>
            </div>

            <div class="mdl-card__actions">

                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="generateRSAKeys()">Generate Keys</a>

                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="actionRSA(0); return false;">Encode</a>

                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="actionRSA(1); return false;">Decode</a>

                <div class="mdl-layout-spacer"></div>

                <button class="mdl-button mdl-button--icon mdl-button--colored"
                        onclick="copyToClipboard(); return false;"><i class="material-icons">content_copy</i>
                </button>

                <button class="mdl-button mdl-button--icon mdl-button--colored" style="margin-right: 1%"
                        onclick="ClearFields(true); return false;">
                    <i class="material-icons">clear</i>
                </button>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--8-col  mdl-cell--4-col-desktop mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Загрузка файлов</h2>
        </div>

        <div class="container">
            <form class="box" method="post" action="" enctype="multipart/form-data">
                <div class="box__input">
                    <svg class="box__icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                         role="presentation">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"></path>
                    </svg>

                    <input class="box__file" type="file" name="files[]" id="file"
                           data-multiple-caption="Выбрано {count} файл{prefix}" multiple/>

                    <label id="dad_label" for="file"><strong>Выберите файл</strong><span
                            class="box__dragndrop"> или перетащите его</span></label>

                    <button class="box__button" type="submit">Загрузить</button>
                </div>

                <div id="dad_buttons" class="hidden box_buttons">
                    <button id="box_encode" type="button" class="mdl-chip">
                        <span class="mdl-chip__text">Кодировать</span>
                    </button>
                    <button id="box_decode" type="button" class="mdl-chip">
                        <span class="mdl-chip__text">Декодировать</span>
                    </button>
                    <button id="box_cancel" type="button" class="mdl-chip">
                        <span class="mdl-chip__text">Отмена</span>
                    </button>
                </div>

                <div id="enterPassword" class="hidden mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                    <input class="mdl-textfield__input" type="text" id="password_file">
                    <label class="mdl-textfield__label" for="password_file">Пароль</label>
                </div>

            </form>

        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col  mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Описание</h2>
        </div>
        <div class="mdl-card__supporting-text no-padding">

        </div>
    </div>

</div>

<div id="toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<!--Подключение DragAndDrop Zone-->
<!--<script src="../../public/js/DragAndDropScript.js" type="text/javascript"></script>-->

<script type="text/javascript">


    function fileAction(action = 0, file, password = '') {
        const reader = new FileReader();
        if (action === 0) {
            reader.onload = function (e) {
                const encrypted = CryptoJS.AES.encrypt(e.target.result, password);
                const link = document.createElement('a');
                link.setAttribute('href', 'data:application/octet-stream,' + encrypted);
                link.setAttribute('download', file.name + '.encrypted');
                link.click();
            };

            reader.readAsDataURL(file);
        } else if (action === 1) {
            reader.onload = function (e) {
                const decrypted = CryptoJS.AES.decrypt(e.target.result, password)
                    .toString(CryptoJS.enc.Utf8);
                const link = document.createElement('a');
                link.setAttribute('href', decrypted);
                link.setAttribute('download', file.name.replace('.encrypted', ''));
                link.click();
            };
            reader.readAsText(file);
        }
    }
</script>