<div class="mdl-grid content">

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="center">
            <div class="mdl-card__actions">
                <div class="mdl-layout-spacer"><h1>Timestamp в дату</h1></div>
            </div>
            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="5" id="InputText"
                          onkeyup="setCharCounter(false)"></textarea>
                <label id="LabelText" class="mdl-textfield__label" for="InputText">Текст (0)</label>
            </div>

            <div class="mdl-textfield--floating-label mdl-js-textfield mdl-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="5" id="CryptText"
                          onkeyup="setCharCounter(false)"></textarea>
                <label id="CryptLabel" class="mdl-textfield__label" for="CryptText">Результат (0)</label>
            </div>


            <div class="mdl-card__actions">

                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="ClickTimeStamp(0); return false;">Encode</a>

                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   onclick="ClickTimeStamp(1); return false;">Decode</a>

                <div class="mdl-layout-spacer"></div>

                <button class="mdl-button mdl-button--icon mdl-button--colored"
                        onclick="copyToClipboard(); return false;"><i class="material-icons">content_copy</i>
                </button>

                <button class="mdl-button mdl-button--icon mdl-button--colored" style="margin-right: 1%"
                        onclick="ClearFields(); return false;">
                    <i class="material-icons">clear</i>
                </button>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col  mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Описание</h2>
        </div>
        <div class="mdl-card__supporting-text no-padding">
            <p>Время в формате: 2021-01-01 03:31:39</p>
            <p>Timestamp - время Unix (также известное как время POSIX или Время эпохи UNIX) - это система для описания
                момента времени, определяемая как количество секунд, прошедших с 00:00:00 по универсальному
                Координированному времени (UTC), четверг, 1 января 1970 года, минус количество високосных секунд,
                которые имели место с тех пор. Широко используется в Unix-подобных и многих других операционных системах
                и файловых форматах. Потому что те же метки могут ссылаться на две различные моменты времени во второй
                прыжок, это не линейная мера времени, ни истинное представление мирового. Время Unix можно проверить в
                большинстве систем Unix, введя в командной строке date +%s.
            </p>
            <p>
                В системах, где представление времени Unix является 32-разрядным числом со знаком, представление
                закончится после завершения 2,147,483,647 (231 - 1) секунд с 00:00:00 1 января 1970 года за вычетом
                количества високосных секунд, которые имели место с тех пор, что произойдет 19 января 2038 03:14:08 UTC.
                Это упоминается как "проблема 2038 года", где 32-разрядное подписанное время Unix переполнится и примет
                фактическое количество к отрицательному.
            </p>
        </div>
    </div>

</div>