<div class="mdl-grid content my-1" onload="setUserInfo()">

    <section class="userInfoSection section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">

                <h1 class="mdl-cell mdl-cell--12-col">Информация о пользователе</h1>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>UserAgent</h5>
                    <p id="userAgent"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Браузер</h5>
                    <p id="Browser"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Версия браузера</h5>
                    <p id="BrowserVersion"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Движок</h5>
                    <p id="Engine"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Версия движка</h5>
                    <p id="EngineVersion"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Операционная система (ОС)</h5>
                    <p id="OS"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Версия ОС</h5>
                    <p id="OSVersion"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Устройство</h5>
                    <p id="Device"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Тип устройства</h5>
                    <p id="DeviceType"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Производитель</h5>
                    <p id="DeviceVendor"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Архитектура CPU</h5>
                    <p id="CPU"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Экран</h5>
                    <p id="ScreenPrint"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Шрифты</h5>
                    <p id="Fonts"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Временная зона</h5>
                    <p id="TimeZone"></p>
                </div>

                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Язык</h5>
                    <p id="Language"></p>
                </div>

            </div>

            <div class="mdl-card__actions-bordered mdl-card__actions-margin">
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <p>На данной странице собрана информация, которую могут получить различные web-ресурсы.</p>
                </div>
            </div>
        </div>

    </section>

</div>